<header class="fixed top-0 w-full z-50 bg-blue-500/40 backdrop-blur-md pb-2 ">
  <nav class="flex flex-wrap justify-center gap-6 px-8 py-3">
    
    <a
      href="/"
      class="bg-blue-500 text-white text-lg font-semibold px-8 py-4 rounded-lg shadow hover:bg-blue-600 hover:scale-105 transition-all duration-300 active:scale-95"
    >
      Airbnb
    </a>
    <% if(isLoggedIn){ %>
    <a
      href="/homes"
      class="bg-blue-500 text-white text-lg font-semibold px-8 py-4 rounded-lg shadow hover:bg-blue-600 hover:scale-105 transition-all duration-300 active:scale-95"
    >
      Homes
    </a>
    <a
      href="/favourite"
      class="bg-blue-500 text-white text-lg font-semibold px-8 py-4 rounded-lg shadow hover:bg-blue-600 hover:scale-105 transition-all duration-300 active:scale-95"
    >
      Favourites
    </a>
    <a
      href="/host-homes"
      class="bg-blue-500 text-white text-lg font-semibold px-8 py-4 rounded-lg shadow hover:bg-blue-600 hover:scale-105 transition-all duration-300 active:scale-95"
    >
      Host Homes
    </a>
    <a
      href="/add-home"
      class="bg-blue-500 text-white text-lg font-semibold px-8 py-4 rounded-lg shadow hover:bg-blue-600 hover:scale-105 transition-all duration-300 active:scale-95"
    >
      Add Home
    </a>
    <%}%>
    <% if (!isLoggedIn){ %>
     <a
      href="/login"
      class="bg-blue-500 text-white text-lg font-semibold px-8 py-4 rounded-lg shadow hover:bg-blue-600 hover:scale-105 transition-all duration-300 active:scale-95"
    >
     Login
    </a>
    <a
      href="/signup"
      class="bg-blue-500 text-white text-lg font-semibold px-8 py-4 rounded-lg shadow hover:bg-blue-600 hover:scale-105 transition-all duration-300 active:scale-95"
    >
     Sign Up
    </a>
    <% }else{ %>
     <form action="/logout" method="post">
      <button
      type="submit"
      class="bg-blue-500 text-white text-lg font-semibold px-8 py-4 rounded-lg shadow hover:bg-blue-600 hover:scale-105 transition-all duration-300 active:scale-95"
    >
     LogOut
      </button>
      </form>
    <% } %>
  </nav>
</header>
